# Created by https://www.toptal.com/developers/gitignore/api/macos,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,windows

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon ディレクトリができなくなるので、コメントアウト
## Icon must end with two \r
# Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/macos,windows

### Editor Cache Directories ###
# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
### https://raw.github.com/github/gitignore/218a941be92679ce67d0484547e3e142b2f5f6f0/Unity.gitignore

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Auto generated link.xml
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/link.xml*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treaming[Aa]ssets/aa.meta
/[Aa]ssets/[Ss]treaming[Aa]ssets/aa/*

## Custom

# Ignore Rider setting (updates too frequently)
/[Pp]rojectSettings/[Rr]ider[Ss]cript[Ee]ditor[Pp]ersisted[Ss]tate.asset

# Ignore MediaPipe (too large)
/Packages/com.github.homuler.mediapipe

# Ignore files to convert .tflite to .onnx
/Models/*/*.tflite
/Models/*/*.onnx
/Models/*/*.json
/Models/*/saved_model*
/Models/*/sample_npy

# Ignore recorded video
/Records/

# Ignore Unity Remote Config setting assets
/Assets/Editor/RemoteConfig/Data/RemoteConfigDataStoreAsset.asset
/Assets/Editor/RemoteConfig/Data/RemoteConfigDataStoreAsset.asset.meta

# Ignore NatML, NatCorder settings, videos
recording_*
# NatML Hub asset
/ProjectSettings/NatMLHub.asset
/Assets/NMLBuildCache*

# Ignore link.xml (auto fetch on local build)
/Assets/Settings/Linker.meta
/Assets/Settings/Linker/

# dotenv
.env

# NuGetForUnity
/[Aa]ssets/[Pp]ackages/*
/[Aa]ssets/[Pp]ackages.meta

!/[Aa]ssets/csc.rsp
